<h1><%= pluralize(@movies.size, 'Movie') %></h1>


<% @movies.each do |movie| %>
  <article class="movie">
    <header>
      <h2>
        <strong><%= link_to movie.title, movie %></strong> 
      </h2>
    </header>
    <!--     helper doesn't work as they attempted to have me set it up
 --> 
    <%= image_tag(movie.image_file_name) %>
      
  <p>
    <%= truncate(movie.description, length: 40, separator: ' ') %>
  </p>

</table>
  <tr>
    <th>Released:</th>
    <td><%= movie.released_on %>
</td>
  </tr>
<br>
  <tr>
    <th>Rating:</th>
    <td><%= movie.rating %></td>
  </tr>
<br>
  <tr>
      <th>Cast:</th>
      <td><%= movie.cast %></td>
  </tr>
      <br>
  <tr>
      <th>Director:</th>
      <td><%= movie.director %></td>
  </tr>
      <br>
  <tr>
    <th>Total Gross:</th>
    <td><%= format_total_gross(movie) %>
</td>
  </tr>
</table>
</article>
<% end %>

<br>
<%= link_to "Add New Movie", new_movie_path(@movie) %>

