<aside id="sidebar">
  <nav>

    <%= form_tag movies_path, :method => 'get', :id => "movies_search" do %>
  <center>
    <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  </center>
  <div id="cresults_div" style="float:right; width:300px;"><%= render 'cresults' %></div>
<% end %>

    <ul style="margin-top: 300px;">
      <li class="all-movies">
        <%= link_to 'All Movies', movies_path, class: 'button' %>
      </li>
      <li class="create-movie">
        <%= link_to 'Add New Movie', new_movie_path, class: 'button' %>
      </li>
    </ul>
  </nav>
</aside>