<aside id="sidebar">
  <nav>

    <%= form_tag movies_path, :method => 'get', :id => "movies_search" do %>
  <center>
    <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  </center>
  <% end %>

  <div id="cresults_div" style="margin-left: 13px; width:300px;"></div>
<br>
<br>
    <ul>
      <li class="all-movies">
        <%= link_to 'All Movies', movies_path, class: 'button' %>
      </li>
      <li class="create-movie">
        <%= link_to 'Add New Movie', new_movie_path, class: 'button' %>
      </li>
    </ul>
  </nav>
</aside>